/*リセットcss:*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #333;
}
a:visited {
	color: #333;
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	appearance: none;
}


#wrapper {
	overflow-x: hidden;
}
/* アイキャッチ画像 */
h1 {
	min-height: 454px;
	background-image: url(../image/アイキャッチSP正.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}
/* PC版は画像を全画面表示 */
@media screen and ( min-width: 768px) {
	h1 {
		background-image: url(../image/アイキャッチ.jpg);
			background-position: top center;
		height: 100vh;
	}
}

/* navデフォルトスタイル */
.gnav {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #214080;
	display: none;
	z-index: 99998;
}
/* PC版は横並びにする */
@media screen and ( min-width: 768px) {
	.gnav {
		height: 80px !important;
		display: flex;
		z-index: 9999;
		align-items: center;
		background: none;
	}
}
/* logoデフォルトスタイル */
.nav-logo-pc {
	margin-left: 15px;
	margin-right: auto;
	width: 200px;
	height: 80px;
	font-size: 4rem;
	background-image: url(../image/ロゴ.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	display: none;
}
/* PC版のみ表示 */
@media screen and ( min-width: 768px) {
	.nav-logo-pc {
		display: block;
	}
}
/* ulデフォルトスタイル */
.gnav-nav {
	margin-top: 60px;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: calc(100% - 60px);
}
/* ulPC版スタイル */
@media screen and ( min-width: 768px) {
	.gnav-nav {
		margin: 0;
		width: auto;
		height: 100%;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		transform: translate(0);
		background: none;
	}
}
/* メニューデフォルトスタイル */
.gnav-nav li {
	margin-bottom: 40px;
}
.gnav-nav li:nth-child(1) {
	margin-top: 40px;
}
.gnav-nav li a {
	position: relative;
	display: inline-block;
	color: #fff;
	margin-left: 5rem;
	padding: 0;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2;
}
.two-lines {
	display: none;
}
.gnav-nav li a::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	content: "";
	width: 100%;
	height: 2px;
	background: #fff;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}
.gnav-nav li a:hover:after {
	transform: scale(1, 1);
}
.gnav-nav li a:before {
	font-family: 'Material Icons';
	font-size: 2.3rem;
	display: inline-flex;
	vertical-align: middle;
	margin-right: 10px;
	color: #fff;
}
.gnav-nav li:nth-child(1) a:before {
	content: "home";
}
.gnav-nav li:nth-child(2) a:before {
	content: "menu_book";
}
.gnav-nav li:nth-child(3) a:before {
	content: "library_books";
}
.gnav-nav li:nth-child(4) a:before {
	content: "apartment";
}
.gnav-nav li:nth-child(5) a:before {
	content: "loyalty";
}
/* メニューPC版スタイル */
@media screen and ( min-width: 768px) {
	.gnav-nav li {
		margin: 0;
		text-align: center;
	}
	.gnav-nav li:nth-child(1) {
		margin-top: 0;
	}
	.gnav-nav li a {
		display: block;
		font-size: 1.5rem;
		margin: 0 15px;
		line-height: 1.3;
	}
	.two-lines {
		display: block;
	}
	.gnav.scroll {
		background: #fff;
	}
	.scroll ul li a {
		color: #333f;
	}
	.gnav-nav li a::after {
		background: #fdede4;
	}
	.gnav-nav li a:before {
		display: none;
	}
}
@media screen and ( min-width: 920px) {
	.two-lines {
		display: none;
	}
}
/* ハンバーガーボタン */
.gnav-drawer-btn {
	display: block;
	width: 60px;
	height: 60px;
	background: #214080;
	border: none;
	cursor: pointer;
	outline: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
}
/* ボタンの線 */
.gnav-drawer-btn .gnav-drawer-bar,
.gnav-drawer-btn .gnav-drawer-bar:before,
.gnav-drawer-btn .gnav-drawer-bar:after  {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 2px;
	background: #fff;
	transition: all .2s;
	margin: -1px 0 0 -14px;
}
.gnav-drawer-btn .gnav-drawer-bar:before {
	content: "";
	margin-top: -12px;
}
.gnav-drawer-btn .gnav-drawer-bar:after {
	content: "";
	margin-top: 10px;
}
/* PC版は非表示 */
@media screen and ( min-width: 768px) {
	.gnav-drawer-btn,
	.gnav-drawer-bar {
	display: none;
	}
}
/* ボタンクリック時の挙動 */
.gnav-drawer-btn.active .gnav-drawer-bar {
	background: transparent;
}
.gnav-drawer-btn.active .gnav-drawer-bar:before,
.gnav-drawer-btn.active .gnav-drawer-bar:after {
	margin-top: 0;
}
.gnav-drawer-btn.active .gnav-drawer-bar:before {
	transform: rotate(-45deg);
}
.gnav-drawer-btn.active .gnav-drawer-bar:after {
	transform: rotate(45deg);
}



/* メインコンテンツは1040px以上固定幅 */
.main-container {
	max-width: 1080px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.main-container h2 {
	text-align: center;
	font-weight: 600;
	font-size: 2.4rem;
	padding: 80px 0;
	line-height: 1;
	letter-spacing: 0.05em;
}
@media screen and ( min-width: 768px) {
	.main-container h2 {
	font-size: 3.2rem;
	}
}

/* コンセプトセクション・ラインナップセクション共通スタイル */
.main-common-container {
	display: flex;
	flex-direction: column;
}
.main-common h2 {
	padding-bottom: 0;
}
.main-common-image {
	position: relative;
	width: 100%;
	padding-top: 66%;
	overflow: hidden;
}
.main-common-image img {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-common-contents {
	position: static;
}
.main-common-contents-inner {
	position: static;
}
.main-common-contents h3 {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.main-common-contents p {
	font-size: 1.4rem;
	line-height: 1.5;
	margin: 40px 0 16px 0;
}
.sp-none {
	display: none;
}
@media screen and ( min-width: 768px) {
	.main-common-container {
		display: flex;
		flex-direction: row-reverse;
	}
	.main-common-image {
		position: relative;
		width: 50%;
		padding-top: 45%;
		overflow: hidden;
	}
	.main-common-image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.main-common-contents {
		width: 50%;
		padding-left: 40px;
	}
	.main-common-contents h3 {
		font-size: 1.8rem;
		margin-top: 0;
	}
	.main-common-contents p {
		font-size: 1.6rem;
		line-height: 1.5;
	}
	.main-common h2 {
		padding-bottom: 80px;
	}
	.sp-none {
		display: block;
	}
	.main-common-contents {
		position: relative;
	}
	.main-common-contents-inner {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media screen and ( min-width: 768px) {
	.main-spot-sp {
	display: none;
	}
}

/* 施工事例 */
.main-example-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.main-example-container li  {
	width: 100%;
}
.main-example-container li + li {
	margin-left: 0;
	margin-top: 50px;
}
@media screen and ( min-width: 768px) {
	.main-example-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
	}
	.main-example-container li  {
		display: flex;
		flex-direction: column;
		width: 31%;
	}
	.main-example-container li + li {
		margin-top: 0;
		margin-left: 40px;
	}
}
.main-example-image {
	position: relative;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}
.main-example-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-example-contents {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 10px 15px;
	background: #fafafa;
}
.main-example-contents h3 {
	width: 100%;
	font-size: 1.8rem;
	text-align: center;
}
.main-example-contents p {
	width: 100%;
	height: 100%;
	margin-top: 15px;
	font-size: 1.4rem;
	line-height: 1.7;
}

/*ニュース*/
.main-news-contents {
	background: #fff;
}
.main-news-contents dt {
	font-size: 1rem;
}
.main-news-contents dd {
	font-size: 1.4rem;
}
.news-contents-row {
	border-top: 0.5px #ccc dotted;
	border-bottom: 0.5px #ccc dotted;
	padding: 8px 0;
}
.news-contents-row + .news-contents-row {
	border-top: 0;
	border-bottom: 0.5px #ccc dotted;
}
/* ニュース表示部分（背景色ホワイト） */
.news-contents-container,
.main-news-more {
	display: block;
	margin: 0 auto;
	width: 100%;
}
/* 一覧表示ボタン */
.main-news-more {
	text-align: right;
	font-size: 1.4rem;
	padding: 24px 0 64px 0;
}
/* アイコン */
.main-news-more:after {
	font-family: 'Material Icons';
	content: "arrow_forward_ios";
	font-size: 1.5rem;
	display: inline-flex;
	vertical-align: text-bottom;
	margin-left: 10px;
}
/* 背景画像（SP版はなし） */
.main-news-bg {
	background: none;
}
/* PC版 */
@media screen and ( min-width: 768px) {
	/* 背景画像（常にウインドウ幅目一杯） */
	.main-news-bg {
		margin: 0 -50%;
		padding: 40px 50%;
		background-image: url(../image/d68bf13f5f9bee32354e054cefcdfdb7_m.jpg);
		background-size: cover;
		background-clip: padding-box;
	}
	.main-news-contents {
		padding-left: 72px;
		padding-right: 72px;
	}
	/* PC版は日付と内容を横並びレイアウトにする */
	.main-news-contents dt {
		float: left;
		clear: left;
		width: 100px;
	}
	.main-news-contents dd {
		padding-left: 140px;
	}
	/* 文字サイズ変更など */
	.main-news-contents dt,
	.main-news-contents dd {
		font-size: 1.6rem;
	}
	.main-news-more {
		font-size: 1.6rem;
	}
	.main-news-more:after {
		font-size: 1.7rem;
	}
	.news-contents-row {
		padding: 24px 0;
	}
}

/* SP用地図スライダーラベル */
.main-spot-sp label {
	margin: -1px 0 0 0;
	display: inline-block;
	padding: 19px 31px;
	width: 100%;
	background: #fff;
	cursor: pointer;
	border: 1px solid #ccc;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* hover時 */
.main-spot-sp label:hover {
	background: #eeeeee;
}
/* 開閉アイコン */
.spot-sp-icon,
.spot-sp-icon:after {
	display: block;
	width: 13px;
	height: 2px;
	background: #333;
	transition: .5s;
}
.spot-sp-icon:after {
	content: "";
	transform: rotate(90deg);
}
/* チェックボックスは非表示 */
.main-spot-sp input {
	display: none;
}
/* アコーディオンメニュー */
.main-spot-sp ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #fff;
}
/* クリックして表示されるメニュー */
.spot-sp-accordion li {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: .5s;
}
/* 開閉アクション */
.spot-sp-hidden:checked + label .spot-sp-icon {
	transform: rotate(45deg);
}
.spot-sp-hidden:checked + label + .spot-sp-accordion li {
	height: auto;
	padding: 1em;
	background: #fff;
	opacity: 1;
}
/* SP用表示アコーディオンメニュー */
.spot-sp-accordion li a {
	font-size: 1.4rem;
}
/* PC版エリアは非表示 */
.main-spot-pc {
	display: none;
}
/* PC用地図画像 */
@media screen and ( min-width: 768px) {
	.main-spot-pc {
		display: block;
		position: relative;
	}
	.main-spot-pc .spot-pc-map {
		display: block;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 110px;
		padding-left: 40px;
		width: 70%;
	}
}
.spot-pc-map-container {
	position: absolute;
	max-width: 140px;
	border: 1px solid #698296;
	border-top-width: 28px;
	border-radius: 5px;
}
.main-spot-pc .hokkaido {
	min-width: 100px;
	top: 26%;
	right: 6%;
}
.main-spot-pc .tohoku {
	top: 36%;
	right: 10%;
}
.main-spot-pc .kanto {
	top: 56%;
	right: 15%;
}
.main-spot-pc .chubu {
	top: 18%;
	right: 42%;
	margin-top: -35px;
}
.main-spot-pc .kinki {
	top: 80%;
	left: 48%;
}
.main-spot-pc .chugoku {
	top: 57%;
	left: 24%;
	margin-top: -100px;
}
.main-spot-pc .shikoku {
	top: 82%;
	left: 27%;
}
.main-spot-pc .kyusyu {
	top: 60%;
	left: 0;
}
.main-spot-pc .hokkaido li,
.main-spot-pc .hokkaido li a {
	width: 100px;
}
.spot-pc-map-label {
	display: block;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 1;
	text-align: center;
	white-space: nowrap;
}
.spot-pc-map-label span {
	display: block;
	padding: 7px;
	font-size: 1.4rem;
	line-height: 1;
	color: #fff;
}
/* 北海道のみサイズ変更 */
.main-spot-pc .hokkaido {
	min-width: 100px;
}
.map-area-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	border-radius: 0 0 4px 4px;
}
.map-area-list li a {
	padding: 6px 0;
	min-width: 69px;
	display: inline-block;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1;
}
.map-area-list li a:hover {
	font-size: 1.4rem;
	color: #cccccc;
}

/* swiper */
.main-pickup h2 {
	padding-bottom: 20px;
	letter-spacing: 0.05em;
}
.swiper-parent {
	position: relative;
}
.swiper-container {
	width: calc(100% - 76px);
	box-sizing: content-box;
}
.swiper-wrapper {
	/* max-width: 682px; */
	width: 100%;
	height: 90px;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	text-align: center;
}
.swiper-slide a {
	display: block;
	width: 100%;
	height: 100%;
}
.swiper-slide a img {
	display: block;
	width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
	top: 50%;
	margin-top: -43px;
	background-image: none !important;
	width: 28px;
	height: 86px;
}
.swiper-button-prev {
	left: 0 !important;
}
.swiper-button-next {
	right: 0 !important;
}
.swiper-button-prev:before {
	font-family: "Font Awesome 5 Free";
	content: "\f053";
	font-size: 48px;
	font-weight: 600;
	color: #707070;
}
.swiper-button-next:before {
	font-family: "Font Awesome 5 Free";
	content: "\f054";
	font-size: 48px;
	font-weight: 600;
	color: #707070;
}
@media screen and ( min-width: 768px) {
	.swiper-button-prev,.swiper-button-next,.swiper-pagination {
		display: none;
	}
	.swiper-container {
		width: 100%;
	}
	.swiper-wrapper {
		justify-content: space-between;
	}
	.swiper-slide {
		width: 30% !important;
	}
	.swiper-slide a img {
		width: 100%;
	}
}

/*フッター*/
footer {
	background: #698296;
	margin-top: 80px;
}
/*コンテンツ幅はメインと合わせる*/
.footer-container {
	max-width: 1040px;
	margin: 0 auto;
	padding: 20px 12px 40px 12px;
}
.footer-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*コンテンツは線で区切る*/
.footer-list li + li {
	border-left: 1px solid #fff;
}
.footer-list li a {
	display: block;
	font-size: 1.1rem;
	color: #fff;
	line-height: 1.5;
	margin: 0 8px;
}
.copyright {
	text-align: center;
	margin-top: 60px;
}
.copyright small {
	color: #fff;
	font-size: 0.8rem;
}
/*PC版は文字サイズ変更*/
@media screen and ( min-width: 768px) {
	.footer-list li a {
		font-size: 1.4rem;
	}
	.copyright small {
		font-size: 1rem;
	}
}

/* ボタン等部品 */
.main-jump-button {
	background: #698296;
	border-radius: 37px;
	box-shadow: 0px 2px 5px #00000029;
	display: none;
}
.main-jump-button a {
	font-size: 1.4rem;
	color: #fff;
	margin: 9px 14px;
	display: none;
}
.main-jump-button a::after {
	font-family: 'Material Icons';
	content: "arrow_forward_ios";
	font-size: 1.5rem;
	display: inline-flex;
	vertical-align: text-bottom;
	margin-left: 8px;
	color: #fff;
}
@media screen and ( min-width: 768px) {
	.main-jump-button {
		background: #698296;
		border-radius: 37px;
		box-shadow: 0px 2px 5px #00000029;
		display: block;
		margin: 0 0 0 auto;
	}
	.main-jump-button a {
		display: block;
		font-size: 1.4rem;
		color: #fff;
		margin: 6px 12px;
	}
	.main-jump-button a::after {
		font-family: 'Material Icons';
		content: "arrow_forward_ios";
		font-size: 1.5rem;
		display: inline-flex;
		vertical-align: text-bottom;
		margin-left: 3px;
		color: #fff;
	}
	.main-example .main-jump-button {
		margin-top: 24px;
		margin-bottom: 32px;
	}
	.main-jump-button:hover {
		background: #b5b5ae;
	}
}

/* 常表示のフッター（お問い合わせ） */
.float-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #DDDDDD;
	z-index: 99999;
}
.float-footer .float-footer-inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.footer-btn {
	height: 40px;
	background: #fff;
	margin: 8px 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.footer-btn a {
	display: block;
	width: 100%;
	text-align: center;
	color: #333333;
	font-size: 1.4rem;
}
.footer-btn.request a:before {
	font-family: 'Material Icons';
	content: "insert_drive_file";
	font-size: 1.6rem;
	display: inline-flex;
	vertical-align: text-top;
	margin-right: 3px;
	color: #158CBA;
}
.footer-btn.shop a:before {
	font-family: 'Material Icons';
	content: "room";
	font-size: 1.6rem;
	display: inline-flex;
	vertical-align: text-top;
	margin-right: 3px;
	color: #158CBA;
}
.footer-tel {
	text-align: right;
	margin: 8px 5px;
}
.footer-tel a {
	color: #333333;
	font-size: 1.4rem;
	font-weight: bold;
}
.footer-tel a:before {
	font-family: 'Material Icons';
	content: "call";
	font-size: 1.6rem;
	display: inline-flex;
	vertical-align: text-top;
	margin-right: 3px;
	color: #158CBA;
}
@media screen and ( min-width: 768px) {
	.float-footer {
		display: none;
	}
}
